

:root
{
    --primary-color:#AEE6E6;
    --secondary-color:#FFDA77;
    --heading-color:#0E0E0E;
    --text-color:#3E3E3E;
    --font-size-1:4rem;
    --font-size-2:3rem;
    --font-size-3:1.938rem;
    --font-size-4:1.5rem;
    --font-size-5:1.25rem;
    --font-size-6:1.125rem;
    --font-size-7:1rem;
    --font-size-8:0.875rem;
    --shadow-1:drop-shadow(0px 10px 10px rgba(0 ,0 ,0 ,0.1));
}

body
{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
h1
{
    font-size: var(--font-size-1);
}
.wrapper
{
    margin: 0 auto;
    padding:0 5px ;
    max-width: 950px;
}
nav
{
    padding: 50px 0;
    -webkit-animation-name: animi ;
            animation-name: animi ; 
    -webkit-animation-duration: .3s; 
            animation-duration: .3s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; 
    -webkit-animation-direction: alternate; 
            animation-direction: alternate;
    -webkit-animation-iteration-count: linear;
            animation-iteration-count: linear;
}
@-webkit-keyframes animi
{
    0%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    50%
    {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animi
{
    0%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    50%
    {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.gallery
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.item
{
    margin: 10px;
    max-width: 292px;
    min-width: 125px;
    
    -webkit-animation-name: stretch ;
            animation-name: stretch ; 
            -webkit-animation-duration: .6s;
            animation-duration: .6s;
    -webkit-animation-timing-function: ease-in; 
            animation-timing-function: ease-in; 
    -webkit-animation-direction: alternate; 
            animation-direction: alternate;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    overflow: hidden;
}
.item img
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* .item:nth-of-type(1)
{
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
}
.item:nth-of-type(2)
{
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
}
.item:nth-of-type(3)
{
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
}
.item:nth-of-type(4)
{
    -webkit-animation-duration: .9s;
            animation-duration: .9s;
}
.item:nth-of-type(5)
{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.item:nth-of-type(6)
{
    -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
} */

@-webkit-keyframes stretch
{
0%{
    -webkit-transform: scale(.1);
            transform: scale(.1);
    opacity: .0;
}

100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}

@keyframes stretch
{
0%{
    -webkit-transform: scale(.9);
            transform: scale(.9 );
    opacity: .0;
}

100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}

 img.image
{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
} 
footer
{
    padding: 40px 0;
    -webkit-animation-name: animi ;
            animation-name: animi ; 
    -webkit-animation-duration: 1s; 
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; 
    -webkit-animation-direction: alternate; 
            animation-direction: alternate;
    -webkit-animation-iteration-count: linear;
            animation-iteration-count: linear;
}
.modal
{
   
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: -8px;
    padding: 0;
    background-color: hsla(0, 0%, 40%, .8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
 }

 .modal_img
 {
    height: 85vh;
    -o-object-fit: contain;
       object-fit: contain;
    margin:0 0 20px 0;
    opacity: 1;
    -webkit-animation-name: modalanimi ;
    animation-name: modalanimi ; 
    -webkit-animation-duration: .13s; 
    animation-duration: .13s;
-webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; 
-webkit-animation-direction: alternate; 
    animation-direction: alternate;
-webkit-animation-iteration-count: linear;
    animation-iteration-count: linear;
 }


 @-webkit-keyframes modalanimi
 {
 0%{
     -webkit-transform: scale(.1);
             transform: scale(.1);
     opacity: .0;
 }
 
 100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     opacity: 1;
 }
 }
 @keyframes modalanimi
 {
 0%{
     -webkit-transform: scale(.1);
             transform: scale(.1);
     opacity: .0;
 }
 
 100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     opacity: 1;
 }
 }

 @media( max-width:655px)
{
    .item
    {
        margin:5px;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }  
    .modal_img
    {
        width: 90%;
        height: fit-content;
        outline: solid;
        margin: 0 0 10px 0 ;
    }  
     nav{
        text-align: center;
    }
    footer
    {
        text-align: center;
    }
}
@media( min-width:656px) and (max-width:1024px)
{
    .gallery
    {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .item
    {
        margin: 10px;
        max-width: 292px;
        min-width: 125px;
    }  
    nav{
        text-align: center;
    }
    footer
    {
        text-align: center;
    }

}